@using App.Components
@model List<Post>
@{
    List<Category> categories = ViewBag.categories as List<Category>;
    string categorySlug = ViewBag.categorySlug;
    Category category = ViewBag.category;
    if (category != null)
    {
        ViewData["Title"] = category.Title;
    }
    else
    {
        ViewData["Title"] = "List of all blogs";
    }
}
<div class="view-post">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a asp-action="Index" asp-area="Blog"
                    asp-route-categorySlug="">Home</a></li>
            @if (category != null)
            {
                foreach (var item in category.ParentCategories())
                {
                    <li class="breadcrumb-item" aria-current="page">
                        <a asp-action="Index" asp-area="Blog" asp-route-categorySlug="@item.Slug">@item.Title</a>
                    </li>

                }
                <li class="breadcrumb-item active" aria-current="page">
                    @category.Title
                </li>
            }
        </ol>
    </nav>
    <h1>
        @ViewData["Title"]
    </h1>
    <p>
        @category?.Description
    </p>
    <hr>
    @if (Model != null)
    {
        foreach (var post in Model)
        {
            <div class="row  post-item">
                <a asp-action="Detail" class="col-3" asp-area="Blog" asp-route-postSlug="@post.Slug">
                    <img src="/contents/files/R.jpeg" class="w-100" alt="@post.Title" />
                </a>
                <div class="col-9">
                    <a asp-action="Detail" class="text-decoration-none" asp-area="Blog" asp-route-postSlug="@post.Slug">
                        <h5 class="mt-0 ">@post.Title</h5>
                    </a>
                    <p class="post-content">@post.Content</p>
                    <div>
                        <strong>
                            Category:
                        </strong>
                        <span>@post.PostCategories.FirstOrDefault().Category.Title</span>
                    </div>
                    <div class="d-flex gap-2">
                        <strong>Author: </strong>
                        <a asp-action="index" asp-controller="ViewPost" asp-area="Blog" class="text-decoration-none">
                            @post.Author.UserName
                        </a>
                        |
                        <p>@post.CreatAt</p>
                    </div>
                </div>
            </div>

        }
    }
</div>

@section SideBar{
@await Component.InvokeAsync("App.Components.CategorySideBar", new CategorySideBar.CategorySideBarData()
{
categories = categories,
Level = 0,
categorySlug = categorySlug
})
}

<partial name="_PagingXTL" model="@ViewBag.pagingmodel" />
